# Virtual environment
venv/

# Python
__pycache__/
*.py[cod]
*.sqlite3

# Environment variables
.env

# Logs
*.log

# VSCode
.vscode/

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db

# Static files
staticfiles/
