# Cors
SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=
CORS_ALLOW_ALL_ORIGINS=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Postgresql
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# Cloudinary
CLOUDI_NAME=
CLOUDI_API_KEY=
CLOUDI_API_SECRET=